.margin-t-10 {
  margin-top: 10px;
}
.margin-l-10{
    margin-left: 10px;
}
.margin-l-20 {
  margin-left: 20px;
}
.flex-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.width-50 {
  width: 50%;
}
.width-30 {
  width: 30px;
}
.height-30{
    height: 30px;
}
.width-800 {
  width: 800px;
}

.margin-auto {
  margin: 0 auto;
}
.overflow-scroll {
  overflow: scroll;
}
.flex-1 {
  flex: 1;
}
.color-374151{
    color:#374151 ;
}
.font-s-14{
    font-size: 14px;
}
.margin-tb-10{
    margin: 10px 0;
}